[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
soup-downloader = {editable = true,path = "."}
mypy = "*"
pyflakes = "*"
typeshed = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
